@model List<JobPost>
@inject coderush.Services.App.ICommon _app;
@using coderush.ViewModels;
@using Newtonsoft.Json;
@{

    string controller = this.ViewContext.RouteData.Values["controller"].ToString();
    string modelName = "Advertise Job";
    ViewData["Title"] = "Advertise Job";

    JobSummary summary = _app.GetJobSummary();
    ChartDoughnut donutChart = _app.GetJobDoughnut();
}

<!-- Content Start -->
<div class="content-wrapper">
    <!-- Heading Start -->
    <section class="heading">
        <h2 class="mb-2"><i class="mdi mdi-account-card-details"></i> @modelName</h2>
        <div class="titles">
            @await Html.PartialAsync(PartialView.StatusMessage, TempData[StaticString.StatusMessage])
        </div>
    </section><!-- Heading End -->
    <div id="accordion" class="accordion">
        <div class="card">
            <div id="headingOne">
                <div class="card-header">
                    <a href="javascript:void(0)" class="accordion-toggle" data-toggle="collapse" data-target="#collapseOne"
                       aria-expanded="false" aria-controls="collapseOne">
                        Analytic
                    </a>
                </div>
            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-5 mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title mb-4">Jobs</h4>
                                    <div class="chart-container doughnut">
                                        <canvas id="doughnutChart" height="250" width="250"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7 mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-flex align-items-center justify-content-between pb-4">
                                        <h4 class="card-title mb-1">Summary Count</h4>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="card mb-lg-5">
                                                <div class="card-body">
                                                    <div class="d-flex justify-content-between">
                                                        <div class="inner flex-grow">
                                                            <p class="mb-0">Active Jobs</p>
                                                            <h4 class="font-weight-bold">@summary.Active</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="card mb-lg-5">
                                                <div class="card-body">
                                                    <div class="d-flex justify-content-between">
                                                        <div class="inner flex-grow">
                                                            <p class="mb-0">In Active Jobs</p>
                                                            <h4 class="font-weight-bold">@summary.InActive</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="card mb-lg-5">
                                                <div class="card-body">
                                                    <div class="d-flex justify-content-between">
                                                        <div class="inner flex-grow">
                                                            <p class="mb-0">Total Jobs</p>
                                                            <h4 class="font-weight-bold">@summary.TotalJob</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <article class="card mb-4">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="card-title mb-0">List of @ViewData["Title"]</h4>
                        <div class="btn-toolbar mb-0 d-none d-sm-block" role="toolbar" aria-label="Toolbar with button groups">
                            <div class="btn-group mr-3" role="group" aria-label="First group">
                                <a href="/@controller/Form" class="btn btn-primary">
                                    <i class="mdi mdi-plus-circle"></i> Add
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table id="grid" class="table table-striped" cellspacing="0" width="100%">
                            <thead>
                                <tr class="bg-primary text-white">
                                    <th width="5%"></th>
                                    <th width="5%"></th>
                                    <th width="20%">Title</th>
                                    <th width="30%">Description</th>
                                    <th width="10%">Is Active</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            <a href="/@controller/Form/@item.JobPostId"><i class="icon-note md-18"></i></a>
                                        </td>
                                        <td>
                                            <a href="/@controller/Delete/@item.JobPostId"><i class="icon-trash md-18"></i></a>
                                        </td>
                                        <td>
                                            @item.JobTitle
                                        </td>
                                        <td>
                                            <div class="summary text">@Html.Raw(item.JobDescription)</div>
                                        </td>
                                        <td>
                                            <div class="form-check">
                                                <label class="custom-checkbox variation3 mb-0">
                                                    <input class="form-check-input" type="checkbox" @((item.IsActive) ? "checked" : "") onclick="return false;">
                                                    <i class="input-helper"></i>
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>
<!-- Content End -->

@section Styles{
    <!-- ================== BEGIN PAGE LEVEL CSS START ================== -->
    <link href="~/assets/vendor/data-table/css/jquery.dataTables.min.css" />
    <link href="~/assets/vendor/data-table/css/buttons.dataTables.min.css" />
    <link href="~/assets/vendor/data-table/css/dataTables.bootstrap.min.css" />

    <!-- ================== BEGIN PAGE LEVEL END ================== -->
}

@section Scripts{
    <!-- ================== BEGIN PAGE LEVEL JS ================== -->
    <script src="~/assets/vendor/data-table/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/vendor/data-table/js/dataTables.buttons.min.js"></script>
    <script src="~/assets/vendor/data-table/js/buttons.flash.min.js"></script>
    <script src="~/assets/vendor/data-table/js/jszip.min.js"></script>
    <script src="~/assets/vendor/data-table/js/pdfmake.min.js"></script>
    <script src="~/assets/vendor/data-table/js/vfs_fonts.js"></script>
    <script src="~/assets/vendor/data-table/js/buttons.html5.min.js"></script>
    <script src="~/assets/vendor/data-table/js/buttons.print.min.js"></script>
    <script src="~/assets/vendor/data-table/js/dataTables.bootstrap.min.js"></script>
    <script src="~/assets/vendor/chartjs/js/Chart.bundle.min.js"></script>
    <!-- ================== END PAGE LEVEL JS ================== -->

    <script type="text/javascript">
        $(document).ready(function () {

            var mainTable;

            mainTable = $('#grid').DataTable({
                lengthChange: false,
                info: false,
                searching: true,
                dom: 'lrtip',
                scrollX: false,
                pageLength: 5,
            });

            $('#mainSearch').keyup(function () {
                mainTable.search($(this).val()).draw();
            })

        });

        //Doughnut Chart
        $(function () {
            var doughnutChart = {
                data: {
                    labels: @Html.Raw(JsonConvert.SerializeObject(donutChart.Labels)),
                    datasets: [{
                        label: 'Doughnut chart',
                        data: @Html.Raw(JsonConvert.SerializeObject(donutChart.Data)),
                        backgroundColor: @Html.Raw(JsonConvert.SerializeObject(donutChart.Colors)),
                        borderWidth: 0
                    }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    legend: {
                        position: "top"
                    },
                    cutoutPercentage: 50
                }
            }
            chart("doughnutChart", "doughnut", doughnutChart.data, doughnutChart.options);
        });
        $(function () {
            $('#longtxt').click(function () {
                var text = $(this).prev('.text');
                text.toggleClass('summary');
                if (text.hasClass('summary')) {
                    $(this).text('more');
                } else {
                    $(this).text('less');
                }
            });
        });
    </script>
}


