@model List<JobApplication>
@inject coderush.Services.App.ICommon _app;
@{

    string controller = this.ViewContext.RouteData.Values["controller"].ToString();
    string modelName = "Applicants";
    ViewData["Title"] = "Applicants";


}

<!-- Content Start -->
<div class="content-wrapper">
    <!-- Heading Start -->
    <section class="heading">
        <div class="justify-content-between">
            <h2 class="mb-2"><i class="mdi mdi-account-card-details"></i> @modelName</h2>
            <a class="nav-link waves-effect" title="Advertise Job" href="/Website/Job">
                <i class="mdi mdi-door-open md-18 mr-2"></i>
                <span class="menu-title">Advertise Job</span>
            </a>
        </div>
        

        <div class="titles">
            @await Html.PartialAsync(PartialView.StatusMessage, TempData[StaticString.StatusMessage])
        </div>
    </section><!-- Heading End -->
    <div id="accordion" class="accordion">
        <div class="card">
            <div id="headingOne">
                <div class="card-header">
                    <a href="javascript:void(0)" class="accordion-toggle" data-toggle="collapse" data-target="#collapseOne"
                       aria-expanded="false" aria-controls="collapseOne">
                        Analytic
                    </a>
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <article class="card mb-4">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="card-title mb-0">List of @ViewData["Title"]</h4>

                    </div>
                    <div class="table-responsive">
                        <table id="grid" class="table table-striped" cellspacing="0" width="100%">
                            <thead>
                                <tr class="bg-primary text-white">

                                    <th width="20%">Job Title</th>
                                    <th width="20%">Name</th>
                                    <th width="30%">Email</th>
                                    <th width="10%">CV</th>
                                    <th width="30%">Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                <tr>
                                    <td>
                                        @item.JobPost.JobTitle
                                    </td>
                                    <td>
                                        @item.Name
                                    </td>
                                    <td>
                                        @item.Email
                                    </td>
                                    <td>
                                        <a target="_blank" href="@item.ResumePath"><i class="mdi mdi-file-pdf"></i></a>
                                    </td>
                                    <td>
                                        @item.Description
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </article>
        </div>

    </div>
</div>
<!-- Content End -->

@section Styles{
    <!-- ================== BEGIN PAGE LEVEL CSS START ================== -->
    <link href="~/assets/vendor/data-table/css/jquery.dataTables.min.css" />
    <link href="~/assets/vendor/data-table/css/buttons.dataTables.min.css" />
    <link href="~/assets/vendor/data-table/css/dataTables.bootstrap.min.css" />

    <!-- ================== BEGIN PAGE LEVEL END ================== -->
}

@section Scripts{
    <!-- ================== BEGIN PAGE LEVEL JS ================== -->
    <script src="~/assets/vendor/data-table/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/vendor/data-table/js/dataTables.buttons.min.js"></script>
    <script src="~/assets/vendor/data-table/js/buttons.flash.min.js"></script>
    <script src="~/assets/vendor/data-table/js/jszip.min.js"></script>
    <script src="~/assets/vendor/data-table/js/pdfmake.min.js"></script>
    <script src="~/assets/vendor/data-table/js/vfs_fonts.js"></script>
    <script src="~/assets/vendor/data-table/js/buttons.html5.min.js"></script>
    <script src="~/assets/vendor/data-table/js/buttons.print.min.js"></script>
    <script src="~/assets/vendor/data-table/js/dataTables.bootstrap.min.js"></script>
    <script src="~/assets/vendor/chartjs/js/Chart.bundle.min.js"></script>
    <!-- ================== END PAGE LEVEL JS ================== -->

    <script type="text/javascript">
        $(document).ready(function () {

            var mainTable;

            mainTable = $('#grid').DataTable({
                lengthChange: false,
                info: false,
                searching: true,
                dom: 'lrtip',
                scrollX: false,
                pageLength: 5,
            });
            $('#mainSearch').keyup(function () {
                mainTable.search($(this).val()).draw();
            })
        });
    </script>
}


